mistergooddeal/src/main/resources/warehouse_david.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.warehouse.external/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WareHouse" targetNamespace="http://service.warehouse.external/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.warehouse.external/" elementFormDefault="unqualified" targetNamespace="http://service.warehouse.external/" version="1.0">
<xs:element name="getLocation" type="tns:getLocation"/>
<xs:element name="getLocationResponse" type="tns:getLocationResponse"/>
<xs:element name="getPlanning" type="tns:getPlanning"/>
<xs:element name="getPlanningResponse" type="tns:getPlanningResponse"/>
<xs:element name="getQuantity" type="tns:getQuantity"/>
<xs:element name="getQuantityResponse" type="tns:getQuantityResponse"/>
<xs:element name="haveDelivery" type="tns:haveDelivery"/>
<xs:element name="haveDeliveryResponse" type="tns:haveDeliveryResponse"/>
<xs:element name="listNearOutOfStock" type="tns:listNearOutOfStock"/>
<xs:element name="listNearOutOfStockResponse" type="tns:listNearOutOfStockResponse"/>
<xs:element name="makeOrder" type="tns:makeOrder"/>
<xs:element name="makeOrderResponse" type="tns:makeOrderResponse"/>
<xs:complexType name="makeOrder">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="tns:OrderRequest"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderRequest">
<xs:sequence>
<xs:element name="client" type="xs:string"/>
<xs:element name="date" type="xs:string"/>
<xs:element maxOccurs="unbounded" name="product" type="tns:product"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="product">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="warningLimit" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="makeOrderResponse">
<xs:sequence>
<xs:element minOccurs="0" name="orderResponse" type="tns:OrderResp"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderResp">
<xs:sequence>
<xs:element name="result" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getQuantity">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="tns:QuantityRequest"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="QuantityRequest">
<xs:sequence>
<xs:element name="product" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getQuantityResponse">
<xs:sequence>
<xs:element minOccurs="0" name="response" type="tns:QuantityResp"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="QuantityResp">
<xs:sequence>
<xs:element name="quantity" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="haveDelivery">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="tns:DeliveryRequest"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DeliveryRequest">
<xs:sequence>
<xs:element name="supplier" type="xs:string"/>
<xs:element name="date" type="xs:string"/>
<xs:element maxOccurs="unbounded" name="product" type="tns:product"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="haveDeliveryResponse">
<xs:sequence>
<xs:element minOccurs="0" name="deliveryResponse" type="tns:DeliveryResp"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DeliveryResp">
<xs:sequence>
<xs:element name="result" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="listNearOutOfStock">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="listNearOutOfStockResponse">
<xs:sequence>
<xs:element minOccurs="0" name="listNearOutOfStockResponse" type="tns:ListNearOutOfStockResp"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ListNearOutOfStockResp">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="product" type="tns:product"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPlanning">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getPlanningResponse">
<xs:sequence>
<xs:element minOccurs="0" name="planningResponse" type="tns:PlanningResp"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PlanningResp">
<xs:sequence>
<xs:element name="planning" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getLocation">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="tns:LocationRequest"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LocationRequest">
<xs:sequence>
<xs:element name="product" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getLocationResponse">
<xs:sequence>
<xs:element minOccurs="0" name="response" type="tns:LocationResp"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LocationResp">
<xs:sequence>
<xs:element name="location" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getQuantityResponse">
    <wsdl:part element="tns:getQuantityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQuantity">
    <wsdl:part element="tns:getQuantity" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="haveDelivery">
    <wsdl:part element="tns:haveDelivery" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLocationResponse">
    <wsdl:part element="tns:getLocationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeOrderResponse">
    <wsdl:part element="tns:makeOrderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="haveDeliveryResponse">
    <wsdl:part element="tns:haveDeliveryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeOrder">
    <wsdl:part element="tns:makeOrder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listNearOutOfStockResponse">
    <wsdl:part element="tns:listNearOutOfStockResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listNearOutOfStock">
    <wsdl:part element="tns:listNearOutOfStock" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPlanning">
    <wsdl:part element="tns:getPlanning" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLocation">
    <wsdl:part element="tns:getLocation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPlanningResponse">
    <wsdl:part element="tns:getPlanningResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WareHouseService">
    <wsdl:operation name="makeOrder">
      <wsdl:input message="tns:makeOrder" name="makeOrder">
    </wsdl:input>
      <wsdl:output message="tns:makeOrderResponse" name="makeOrderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuantity">
      <wsdl:input message="tns:getQuantity" name="getQuantity">
    </wsdl:input>
      <wsdl:output message="tns:getQuantityResponse" name="getQuantityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="haveDelivery">
      <wsdl:input message="tns:haveDelivery" name="haveDelivery">
    </wsdl:input>
      <wsdl:output message="tns:haveDeliveryResponse" name="haveDeliveryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listNearOutOfStock">
      <wsdl:input message="tns:listNearOutOfStock" name="listNearOutOfStock">
    </wsdl:input>
      <wsdl:output message="tns:listNearOutOfStockResponse" name="listNearOutOfStockResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPlanning">
      <wsdl:input message="tns:getPlanning" name="getPlanning">
    </wsdl:input>
      <wsdl:output message="tns:getPlanningResponse" name="getPlanningResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocation">
      <wsdl:input message="tns:getLocation" name="getLocation">
    </wsdl:input>
      <wsdl:output message="tns:getLocationResponse" name="getLocationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WareHouseSoapBinding" type="tns:WareHouseService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="makeOrder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="makeOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="makeOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuantity">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getQuantity">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getQuantityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="haveDelivery">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="haveDelivery">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="haveDeliveryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listNearOutOfStock">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listNearOutOfStock">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listNearOutOfStockResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLocation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLocationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPlanning">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPlanning">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPlanningResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WareHouse">
    <wsdl:port binding="tns:WareHouseSoapBinding" name="WareHouseServicePort">
      <soap:address location="http://localhost:8090/ext/warehouse_david"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>