mistergooddeal/src/test/resources/id.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://base.google.com/ns/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="id" type="xs:int"/>
  <xs:element name="condition" type="xs:string"/>
  <xs:element name="price" type="xs:string"/>
  <xs:element name="availability" type="xs:string"/>
  <xs:element name="image_link" type="xs:anyURI"/>
  <xs:element name="google_product_category" type="xs:string"/>
  <xs:element name="product_type" type="xs:string"/>
</xs:schema>